In [16]:
!pip install pandas pandasql openpyxl

Requirement already satisfied: pandas in c:\users\rilli\sql\lib\site-packages (2.1.2)
Requirement already satisfied: pandasql in c:\users\rilli\sql\lib\site-packages (0.7.3)
Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\rilli\sql\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rilli\sql\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rilli\sql\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rilli\sql\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: sqlalchemy in c:\users\rilli\sql\lib\site-packages (from pandasql) (2.0.23)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\rilli\sql\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\rilli\sql\lib\site-packages (from sqlalchemy->pandasql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rilli\sql\lib\site-packages (from sqlalchemy->pandasql) (3.0.1)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import pandas as pd
from pandasql import sqldf as sql

In [69]:
df = pd.read_csv('electric.csv')
df.columns = df.columns.str.replace(' ', '_')

In [70]:
df

,VIN_(1-10),County,City,State,Postal_Code,Model_Year,Make,Model,Electric_Vehicle_Type,Clean_Alternative_Fuel_Vehicle_(CAFV)_Eligibility,Electric_Range,Base_MSRP,Legislative_District,DOL_Vehicle_ID,Vehicle_Location,Electric_Utility,2020_Census_Tract
0,5UXTA6C05P,Yakima,Yakima,WA,98903.0,2023,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30,0,14.0,227153587,POINT (-120.477805 46.553505),PACIFICORP,5.307700e+10
1,5YJRE11B48,NaN,NaN,BC,NaN,2008,TESLA,ROADSTER,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,98950,NaN,143609049,NaN,NaN,NaN
2,5YJSA1E24G,King,Seattle,WA,98103.0,2016,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,43.0,187728201,POINT (-122.34301 47.659185),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
3,1N4AZ1CP5J,King,Shoreline,WA,98177.0,2018,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,151,0,32.0,249867971,POINT (-122.382425 47.77279),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303302e+10
4,5YJ3E1EA6J,Island,Coupeville,WA,98239.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,10.0,223792649,POINT (-122.6880708 48.2179983),PUGET SOUND ENERGY INC,5.302997e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153825,1N4AZ0CP0D,San Juan,Eastsound,WA,98245.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,40.0,154379130,POINT (-122.907229 48.7016716),BONNEVILLE POWER ADMINISTRATION||ORCAS POWER &...,5.305596e+10
153826,5YJSA1E27H,Spokane,Spokane,WA,99223.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,6.0,204991475,POINT (-117.369705 47.62637),BONNEVILLE POWER ADMINISTRATION||INLAND POWER ...,5.306301e+10
153827,1G1FW6S03P,King,Seatac,WA,98188.0,2023,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,33.0,244720059,POINT (-122.29179 47.43473),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
153828,3FMTK3SU1M,King,Kent,WA,98031.0,2021,FORD,MUSTANG MACH-E,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,33.0,186104215,POINT (-122.2012521 47.3931814),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
153829,1N4AZ0CP0D,Pierce,Tacoma,WA,98407.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,27.0,153724504,POINT (-122.5113356 47.2923828),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10

In [14]:
sql('select distinct state from df order by 1')

   State
0     AK
1     AL
2     AP
3     AR
4     AZ
5     BC
6     CA
7     CO
8     CT
9     DC
10    DE
11    FL
12    GA
13    HI
14    IA
15    ID
16    IL
17    IN
18    KS
19    KY
20    LA
21    MA
22    MD
23    MN
24    MO
25    MS
26    MT
27    NC
28    NE
29    NH
30    NJ
31    NV
32    NY
33    OH
34    OK
35    OR
36    PA
37    SC
38    TX
39    UT
40    VA
41    WA
42    WY

In [107]:
#_join(cars, mounts, "a.*, b.MountName", "a.MountID = b.ID", "a.MountID", "b.MountName")
def _join(df1: pd.DataFrame, df2: pd.DataFrame, fields:str, on:str, a_key:str, b_key:str, generateLeft=True, generateRight=True):
    left, right = None, None
    if generateLeft:
        left = sql(f'select {fields} from df1 a left join df2 b on {on} where {b_key} is null')
    center = sql(f'select {fields} from df1 a inner join df2 b on {on}')
    if generateRight:
        right = sql(f'select {fields} from df1 a right join df2 b on {on} where {a_key} is null')
    return left, center, right

#_union_all(cars, ['mounts', 'colors'])
def _union_all(df1: pd.DataFrame, dfs:list[str]):
    return sql(f'select * from df1 union all {"union all ".join(["select * from "+dfx for dfx in dfs])}')

#_summarize(cars, ['ColorID', 'MountID'], {'price': 'mean'})
def _summarize(df1: pd.DataFrame, group:list[str], summ:dict):
    arr_summ = [f"{summ[summ_item]}({summ_item}) as {summ_item}" for summ_item in summ]
    return sql(f'select {", ".join(group)}, {", ".join(arr_summ)} from df1 group by {",".join([str(x) for x in list(range(1,len(group)+1))])}')

#_filter(cars, "ColorID = 1")
def _filter(df1: pd.DataFrame, conditional:str, generateFalse=True):
    t = sql(f'select * from df1 where ({conditional})')
    if generateFalse:
        f = sql(f'select * from df1 where not ({conditional})')
        return t, f
    return t, None

states = pd.read_excel('states.xlsx')

In [112]:
t, f = _filter(df, "State='NY'", generateFalse=True)
f

,VIN_(1-10),County,City,State,Postal_Code,Model_Year,Make,Model,Electric_Vehicle_Type,Clean_Alternative_Fuel_Vehicle_(CAFV)_Eligibility,Electric_Range,Base_MSRP,Legislative_District,DOL_Vehicle_ID,Vehicle_Location,Electric_Utility,2020_Census_Tract
0,5UXTA6C05P,Yakima,Yakima,WA,98903.0,2023,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30,0,14.0,227153587,POINT (-120.477805 46.553505),PACIFICORP,5.307700e+10
1,5YJRE11B48,None,None,BC,NaN,2008,TESLA,ROADSTER,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,98950,NaN,143609049,None,None,NaN
2,5YJSA1E24G,King,Seattle,WA,98103.0,2016,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,43.0,187728201,POINT (-122.34301 47.659185),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
3,1N4AZ1CP5J,King,Shoreline,WA,98177.0,2018,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,151,0,32.0,249867971,POINT (-122.382425 47.77279),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303302e+10
4,5YJ3E1EA6J,Island,Coupeville,WA,98239.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,10.0,223792649,POINT (-122.6880708 48.2179983),PUGET SOUND ENERGY INC,5.302997e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153818,1N4AZ0CP0D,San Juan,Eastsound,WA,98245.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,40.0,154379130,POINT (-122.907229 48.7016716),BONNEVILLE POWER ADMINISTRATION||ORCAS POWER &...,5.305596e+10
153819,5YJSA1E27H,Spokane,Spokane,WA,99223.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,6.0,204991475,POINT (-117.369705 47.62637),BONNEVILLE POWER ADMINISTRATION||INLAND POWER ...,5.306301e+10
153820,1G1FW6S03P,King,Seatac,WA,98188.0,2023,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,33.0,244720059,POINT (-122.29179 47.43473),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
153821,3FMTK3SU1M,King,Kent,WA,98031.0,2021,FORD,MUSTANG MACH-E,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,33.0,186104215,POINT (-122.2012521 47.3931814),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
153822,1N4AZ0CP0D,Pierce,Tacoma,WA,98407.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,27.0,153724504,POINT (-122.5113356 47.2923828),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10

In [97]:
_summarize(df, ["State", "City"], {"Electric_Range": "avg", "Model_Year": "min"})

    State            City  Electric_Range  Model_Year
0      AK     Eagle River        0.000000        2021
1      AL          Mobile        0.000000        2022
2      AL          Pelham        0.000000        2023
3      AL  Smiths Station      220.000000        2019
4      AP            None       75.000000        2013
..    ...             ...             ...         ...
691    WA          Yakima       59.133215        2011
692    WA    Yarrow Point      101.219697        2013
693    WA            Yelm       63.452489        2011
694    WA          Zillah       54.730769        2011
695    WY        Sheridan        0.000000        2022

[696 rows x 4 columns]

In [18]:
states

  State        Name
0    AL     Alabama
1    CA  California

In [113]:
_,c,_ = _join(df, states, 'a.*, b.Name as State_Name','a.State = b.State', 'a.State', 'b.Name', generateLeft=False, generateRight=False)

In [104]:
l, len(c), len(r)

(None, 103, 0)

In [52]:
sql('select distinct State from l order by 1')

   State
0     AK
1     AP
2     AR
3     AZ
4     BC
5     CO
6     CT
7     DC
8     DE
9     FL
10    GA
11    HI
12    IA
13    ID
14    IL
15    IN
16    KS
17    KY
18    LA
19    MA
20    MD
21    MN
22    MO
23    MS
24    MT
25    NC
26    NE
27    NH
28    NJ
29    NV
30    OH
31    OK
32    OR
33    PA
34    SC
35    TX
36    UT
37    VA
38    WA
39    WY